{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated and user == post.author or user.is_superuser %}
                <!-- display the edit button -->
                <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                    <!-- {% include './icons/pencil-fill.svg' %} -->
                    Edit
                </a>
            {% endif %}

        </aside>
        <h2>{{ post.title }}</h2>
        <author class="author">
            Author: {{post.author}}
        </author>
        {% if post.published_date %}
            <time class="date">
                written-on: {{ post.published_date }}
            </time>
        {% endif %}
        <br><br>
        <p> Content: <br> {{ post.text|linebreaksbr }}</p>
    </article>
{% endblock %}
